<!--Pricing Tables-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">

      <div class="section-heading">
          <h3>YOUR CHOICE</h3>
          <h2 class="section-title">We have the right package for you</h2>
      </div>

      <!--Pricing Block-->
      <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
          <div class="pricing-block-content">
              <h3>{{pricing.personal.tagline}}</h3>
              <p class="pricing-sub">{{pricing.personal.title}}</p>
              <div class="pricing">
                  <div class="price"><span>$</span>19</div>
                  <p>{{pricing.personal.description}}</p>
              </div>
              <ul>
                <li *ngFor="let item of pricing.personal.list">
                  {{ item }}
                </li>
              </ul>             
              <a href="#" class="button">BUY TODAY</a>
          </div>
      </div>
      <!--End Pricing Block-->

      <!--Pricing Block-->
      <div class="pricing-block featured col-3 wow fadeInUp" data-wow-delay="0.6s">
          <div class="pricing-block-content">
              <h3>{{pricing.student.tagline}}</h3>
              <p class="pricing-sub">{{pricing.student.title}}</p>
              <div class="pricing">
                  <div class="price"><span>$</span>29</div>
                  <p>{{pricing.student.description}}</p>
              </div>
              <ul>
                <li *ngFor="let item of pricing.student.list">
                  {{ item }}
                </li>
              </ul>  
              <a href="#" class="button">BUY TODAY</a>
          </div>
      </div>
      <!--End Pricing Block-->

      <!--Pricing Block-->
      <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
          <div class="pricing-block-content">
              <h3>{{pricing.business.tagline}}</h3>
              <p class="pricing-sub">{{pricing.business.title}}</p>
              <div class="pricing">
                  <div class="price"><span>$</span>49</div>
                  <p>{{pricing.business.description}}</p>
              </div>
              <ul>
                <li *ngFor="let item of pricing.business.list">
                  {{ item }}
                </li>
              </ul>  
              <a href="#" class="button">BUY TODAY</a>
          </div>
      </div>
      <!--End Pricing Block-->

  </div>
</section>
<!--End of Pricing Tables-->